
/* custom styles for default task box */
 .task-content {
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .37);
  margin: 10px 0px;
}


/* -----------custom styles for default task box -------*/

/* styling for level-3 task */
.level-3 {
  color: #581500;
  background-color: #ffc550;
  font-size: 2.5em;
}

.days-old-count {
  padding: 10px;
}

.days-old {
  line-height: 1;
  text-transform: uppercase;
  font-size: 0.5em;
}

/*styling for add task button*/
.btn-secondary {
  color: #3a3a3a;
  background-color: #63DB63;
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .37);
  position: fixed;
  right: 30px;
  top: 100px;
  height: 70px;
  width: 150px;
}

.btn-secondary:hover {
  background-color: #63DB63;
}

.btn-secondary img {
  padding-right: 4px;
  height: 20px;
  width: 25px;
  margin-bottom: 3px;
}

/*-------------------------CHECKBOX STYLING-----------------------*/
.complete-box > input {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  cursor: pointer;
  height: 6vh;
  width: 6vh;
}

.checkmark {
  display: inline-block;
  height: 6vh;
  width: 6vh;
  background-color: #b2d1d1;
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .37);
  box-sizing: content-box;
  text-align: center;
  font-weight: bold;
}

.complete-box:hover input ~ .checkmark {
  background-color: #95afaf;
}

.complete-box input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "✓";
  visibility: hidden;
  color: #95afaf;
}

.complete-box input:checked ~ .checkmark:after {
  visibility: visible;
}
/*styling for the date on the tasks*/
.modal-date {
  font-size: small;
}

/*Vertically align content inside of rows*/
.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
/*-------------------------CHECKBOX STYLING-----------------------*/
.complete-box > input {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  cursor: pointer;
  height: 6vh;
  width: 6vh;
}

.checkmark {
  display: inline-block;
  height: 6vh;
  width: 6vh;
  background-color: #b2d1d1;
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, .37);
  box-sizing: content-box;
  text-align: center;
  font-weight: bold;
}

.complete-box:hover input ~ .checkmark {
  background-color: #95afaf;
}

.complete-box input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "✓";
  visibility: hidden;
  color: #95afaf;
}

.complete-box input:checked ~ .checkmark:after {
  visibility: visible;
}
/*-------------------------BANNER STYLING-------------------------*/
/* Gray out the sides on the banner*/
.side-col {
  background-color: gray;
  opacity: .5;
  height: 100%;
}

/*We can change the background of our banner here to whatever we want!*/
.banner {
  background-image: url(https://placeimg.com/1200/300/arch);

}

/*Set the height of the row containing the log in form */
.log-in {
  height: 30vh;
  min-height:5em;
  width: 100%;
  overflow: scroll;
}

.login-text {
  color: white;
  text-shadow: 1px 1px 10px white;
}

/* styling for edit views */
.edit-content {
  float: right;
  display: inline;
}

.edit-content > button {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.edit-icon {
  opacity: .0;
  margin-top: 10px;
}




/* makes icon visible on hover of task*/
.edit-icon:hover, .task-content:hover + .edit-icon{
  opacity: 1;
}

/*  Level 4 Task Styling*/

.level-4 {
  background-color: #e87537;
  color: #950000;
  margin-top: 10px;
}

.level-4 > .row {
  margin-top: auto;
  margin-bottom: auto;
}

.level-4 > .row > .col-10 {
  font-size: 250%;
  margin-top: 0px;
  margin-bottom: auto;
  text-align: center;
  line-height: 130%;
  padding: 10px;
}

.level-4 > .row > .col-10 > .counter {
  margin-bottom: 0;
  font-size: 130%
}

.level-4 > .row > .col-10 > .task-name {
  margin-bottom: 0;
}

.level-4 > .row > .task-date-container > .task-date > .counter {
  font-size: 250%;
  text-align: center;
  line-height: 100%;
}

.level-4 > .row > .task-date-container > .task-date > .days-old {
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 90%;
}


/*  Level 5 Task Styling*/

.level-5 {
  background-color:  #ff5151;
  color: #4e0909;
  margin-top: 10px;
}

.level-5 > .row {
  margin-top: auto;
  margin-bottom: auto;

}

.level-5 > .row > .col-10 {
  font-size: 300%;
  margin-top: 0px;
  margin-bottom: auto;
  text-align: center;
  line-height: 130%;
  padding: 20px
}

.level-5 > .row > .col-10 > .counter {
  margin-bottom: 0;
  font-size: 150%
}

.level-5 > .row > .col-10 > .task-name {
  margin-bottom: 0;
}

.level-5 > .row > .task-date-container > .task-date > .counter {
  font-size: 250%;
  text-align: center;
  line-height: 100%;
}

.level-5 > .row > .task-date-container > .task-date > .days-old {
  font-size: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 90%;
}
/*-------------- body padding for nav bar --------------*/
body {
  padding-top: 70px;
}

 /* task 2 styling */
.level-2 {
  background-color: rgb(111, 227, 220);
}

/* I am commenting out this code due to conflict - level 4 style overrides the font size, we can adjust
  #days-old {
  font-size: 75%;
} */
