/* custom styles for default task box */
body {
  background-color: #B2D1D1;
}


/*------ Styling for Jose's custom task box ------*/
#taskDescriptionRow {
  height: 150px;
}
.task-content{
  border: 1px solid;
  border-radius: 5px;
  background-color: #48AEAE;
}

.task-checkbox{
  /* Potential styling */
  align-items:
}

.task-name{
  /* Potential styling */
}

.task-date {
  /* Potential styling */
}
.task-description{
  /* Potential styling */
}
.level-one {
  height: 0;
}

.test-border {
  border: 2px solidn red;
  border-radius: 5px;

}
.task-content-test {
  border: 2px solid green;
  border-radius: 5px;
  background-color: #B2D1D1;
}
.border-test {
  border: 1px solid;
  border-radius: 5px;
  background-color: #48AEAE;
}
/*------ End styling for Jose's custom task box ------*/


/*styling for add task button*/
.btn-secondary {
 background-color: rgb(94, 105, 247);
 position: absolute;
 right: 20px;
}

/*styling for the date on the tasks*/
.modal-date {
  font-size: small;
}

/*Vertically align content inside of rows*/
.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.task {
  background-color: #48AEAE;
}
/*-------------------------BANNER STYLING-------------------------*/
/* Gray out the sides on the banner*/
.side-col {
  background-color: gray;
  opacity: .5;
  height: 100%;
}

/*We can change the background of our banner here to whatever we want!*/
.banner {
  background-image: url(https://placeimg.com/1200/300/arch);

}

/*Set the height of the row containing the log in form */
.log-in {
  height: 30vh;
  min-height:5em;
  width: 100%;
  overflow: scroll;

}

.login-text {
  color: white;
  text-shadow: 1px 1px 10px white;
}

/* styling for edit views */
.edit-content {
  position: relative;

}

.edit-content > button {
  float: right;
  margin: 2px;
  position: relative;
  bottom: -100px;
}

.edit-icon {
  opacity: .0;
}

/* makes icon visible on hover of task*/
.edit-icon:hover, .task-content:hover + .edit-icon{
  opacity: 1;
}
